#computer-picture{
    width: 30%;
    height: 90%;
    padding: 5px;
}

#computer-description{
    width: 70%;
    height: 90%;
    padding: 5px;
}

.first-row {
    margin-top: 5px;
    height: 200px;
}

.second-row {
    margin-top: 5px;
    height: 300px;
    border: 1px solid black;
}

.inside-row {
    padding: 5px;
    align-content: center;
}

.col {
    border: 1px solid black;
    background-color: whitesmoke;
}

.col-4, .col-8{
    background-color: whitesmoke;
}

.navbar.navbar-dark.bg-dark {
    color: white;
    padding-left: 100px;
    height:50px;
}

#loan {
    position:absolute; 
    bottom: 20px; 
    left: 30%; 
    background-color: chartreuse; 
    color: black;
}

#bank-btn {
    position:absolute; bottom: 20px; left: 20%; 
}
#work-btn {
    position:absolute; bottom: 20px; right: 20%;  
    background-color:yellow; 
    color: black;
}

.computer-info-col {
    padding-top: 50px;
}

.computer-buy-col {
    padding-top: 50px;
}

#computer-buy {
    width: 80%; 
    margin-top: 20px; 
    background-color: lightskyblue; 
    color: black;
}

